/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-logo{
  height: 50px;
}

.nav-container{
  min-height: 50px;
  width: 100%;
  background-color: aqua;
  position: fixed;
  top: 0%;
  left: 0%;
  border-top: 2px solid orange;
  box-shadow: 0px 1px 5px #00000033;
  background-color: whitesmoke;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.navbar-div{
  display: flex;
  align-items: center;
  justify-content: space-around
}

.nav-items{
  text-decoration: none;
  color: black;
  margin: 0px;
}

.login-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;

}

.login-int{
  width: 400px;
  border-radius: 10px;
}

.labels {
  font-size: 20px;
  margin-left: 150px;
}
.bttn{
  margin-top: 15px;
  width: 400px;
}
.login-div{
  box-shadow: 0px 1px 5px #00000033;
  padding: 30px;
  border-radius: 20px;
}
.conatainers{
  box-shadow: 0px 1px 5px #00000033;
  margin: 10px;
}
.pass-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
